{{ define "main" }}
<main id="main" class="h-feed">
  <h1 class="p-name">{{ .Title }}</h1>
  {{ if site.Params.search }}
  <input
    id="search"
    type="text"
    placeholder="Search by title..."
    aria-label="Search by title"
  />
  {{ end }}
  <ul class="patterns-list" id="list">
    {{ range .Pages.ByPublishDate.Reverse }}
    <li class="h-entry">
      {{ if (isset .Params "bookmark_of") }}
      <div class="e-content">
        <h2><span aria-label="Bookmark of">
        {{ if in .Params.tags "thisismyjam" }}♫ {{ else }}🔖 {{ end }}<a href="{{ .Params.bookmark_of.url }}" class="u-bookmark-of p-name{{ if (isset .Params.bookmark_of "name") }} h-cite{{ end }}">
        {{- .Params.bookmark_of.name | default .Params.bookmark_of.url -}}</a></span></h2>
      {{ else if (isset .Params "like_of") }}
        <div class="e-content">
          <h2><span aria-label="Liked">{{ if in .Params.tags "thisismyjam" }}♫{{ else }}❤️{{ end }}</span> <a href="{{ .Params.like_of.url }}" class="u-like-of{{ if (isset .Params.like_of "name") }} h-cite{{ end }}">{{ .Params.like_of.name | default .Params.like_of.url }}</a></h2>
      {{ else if (isset .Params "in_reply_to") }}
        <div class="not-e-content">
          <h2><span aria-label="In reply to">↩️</span>
           <a href="{{ .Params.in_reply_to.url }}" class="u-in-reply-to{{ if (isset .Params.in_reply_to "name") }} h-cite{{ end }} ">{{ .Params.in_reply_to.name | default .Params.in_reply_to.url }}</a> – {{ with .Params.in_reply_to.rsvp }}RSVP: <span class="p-rsvp">{{ . }}{{ end }}</span></h2>
        </div>
        <div class="e-content">
      {{ else if (isset .Params "repost_of") }}
        <div class="not-e-content">
          <h2><span aria-label="Repost of">🔄</span>
           <a href="{{ .Params.repost_of.url }}" class="u-repost-of p-name{{ if (isset .Params.repost_of "name") }} h-cite{{ end }}">{{ .Params.repost_of.name | default .Params.repost_of.url }}</a></h2>
        </div>
        <div class="e-content">
      {{ else }}
      <div class="e-content p-name">
      {{ end }}
      {{ .Content }}</div>
    {{ partial "metadata.html" . }}
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}
