/* Fonts */
@font-face {
    font-family: 'Work Sans';
    src: url('/css/fonts/WorkSans-Bold.woff2') format('woff2'), url('/css/fonts/WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Work Sans';
    src: url('/css/fonts/WorkSans-BoldItalic.woff2') format('woff2'), url('/css/fonts/WorkSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Work Sans';
    src: url('/css/fonts/WorkSans-Regular.woff2') format('woff2'), url('/css/fonts/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Work Sans';
    src: url('/css/fonts/WorkSans-Italic.woff2') format('woff2'), url('/css/fonts/WorkSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

html {
    font-family: "Work Sans", Arial, Helvetica Neue, sans-serif;
    text-align: justify;
}

h1, h2, h3, h4, h5, .tags {
    font-family: "Work Sans", Arial, Helvetica Neue, sans-serif;
    text-align: left;
}
