{{ $thisPost := .RelPermalink }}
{{ $comments := .Site.Data.comments_legacy }}
{{ $.Scratch.Set "counter" 0 }}
{{ range $comments }}
    {{ range . }}{{ if eq .path $thisPost }}{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}{{ end }}{{ end }}
{{ end }}
<button id="disqus-button" onclick="showComments()">{{ T "discuss_show_comments_button" }} ({{ $.Scratch.Get "counter" }})</button>
<div id="disqus-container">
    <div id="disqus-comments">
      <script type="application/javascript">
        function showComments() {
          {{ partial "disqus-js-common.js" . | safeJS }}
        }
      </script>
    <h2>Comments</h2>
    <ul class="patterns-list">
    {{ range $comments }}
        {{ range sort . "date" }}
            {{ if eq .path $thisPost }}
            <li><div class="comment">{{ .comment | safeHTML }}</div>
                    <div class="metadata"><span class="name">{{ .name }}</span><span class="date"> on {{ .date | dateFormat "Mon, 02 Jan. 2006, 15:04 MST" }}</span></div>
                </li>
            {{ end }}
        {{ end }}
    {{ end }}
    </ul>
    </div>
</div>
