{{- $miradorLink := newScratch -}}
{{- $miradorLink.Set "url" (printf "%s?" ("/iiif" | absURL) ) -}}
{{- with .Get "manifest"}}{{ $miradorLink.Add "url" (printf "iiif-content=%s" .) }}{{ end -}}
{{- with .Get "enableWorkspaceControlPanel" }}{{ $miradorLink.Add "url" (printf "&enableWorkspaceControlPanel=%s" .) }}{{ end -}}
<div class="mirador">
<iframe style="width: 100%; height: 50vh;" src="{{ $miradorLink.Get "url" }}"></iframe>
<p class="metadata" style="margin-top: 0.25rem;"><a href="{{ $miradorLink.Get "url" }}" target="_blank">Open in new window</a></p>
</div>
